<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
    
    <div class="container">
        <center>

            <h2>Cotizacion</h2>

        </center>

        <form action="/cotizacion" method="p">
            <br>
            <br>
            <label for="">Valor del automovil</label>
            <input type="number" name="valor" id="valor" required>         
            <br>
            <br>
            <label for="">Porcentaje de pago inicial:</label>
            <select name="pinicial" id="pinicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select>
            <br>
            <br>
            <label for="">Plazos</label>
            <select name="plazo" id="plazo">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
            </select>
            <br>
            <br>
            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>

            <%
            let pagoInicial=0; 
            let totalfin=0; 
            let pmensual=0; 
            
            if(valor!=null){ 
                pagoInicial=valor * (pinicial / 100);
                totalfin=valor - pagoInicial; 
                pmensual=totalfin / plazo;  
            %>
                <hr>
                <h3>Informacion de la cotizacion</h3>
                <hr>
                Valor del automovil : <%=valor%><br>
                Porcentaje de pago inicial : <%=pinicial%><br>
                Plazos : <%=plazo%> <br>

                Pago Inicial : <%=pagoInicial%><br>
                Total a financiar : <%=totalfin%><br>

                Pago Mensual : <%=pmensual%>

            <%   } 
            %>

            

        </form>

    </div>

</body>

</html>