<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Practica 01 EJS</title>
</head>
<body>
    
    <center>
        <h1> <%=titulo%> </h1>
        <h2> <%=nombre%> </h2>
        <h2> <%=grupo%> </h2>
        <br>
        <img src="./img/logo-upsin.jfif" alt="" style="width: 150px; height: 150px;">
        <br><br>

        <div class="container">
        
            <table class="table table-bordered table-secondary border-dark p-2 mb-2 table-hover">
                
                <tr>
                    <thead class="table-secondary border-dark">
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Materias</th> 
                    </thead>
                    
                </tr>
                <%
                for( item of listado ){
                %>
                <tr>
                    <tbody class="table-info border-dark">
                        <td> <%=item.matricula%> </td>
                        <td> <%=item.nombre%> </td>
                        <td> <%=item.sexo%> </td>
                        <td> <%=item.materias%> </td>
                    </tbody>
                </tr>
                <%
                }
                %>
            </table>

        </div>

    </center>
</body>
</html>